body {
    background: linear-gradient(#F2F2F2, #80B4BF, #65858C, #193C40) fixed;
    font-family: 'Montserrat', monospace;
    color: #212a2d;
}
#body {
    display: flex;
    flex-direction: column;
}
nav {
    font-family: 'Bungee', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    color: #012E40;
    margin: 20px 40px 20px 0;
    width: 100%;
}
#navigation li {
    padding-right: 20px;
    display: inline;
}
a {
    text-decoration: none;
}
#navigation li a {
    font-weight: bold;
    padding: 1px;
    color: #012E40;
}
.active, #navigation li a:hover {
    border-bottom: 2px solid #80B4BF;
}
#intro {
    width: 75%;
    margin: 30px auto 80px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#intro-imgs {
    display: flex;
    flex-direction: column;
}
#intro .left-picture{
    float: right;
    margin-left: 50px;
}
#intro #oa {
    transform:rotate(-12deg);
    z-index: 2;
}
#intro #ohw {
    transform:rotate(12deg);
    z-index: 1;
    padding-left: 35px; 
}
p {
    text-align: center;
    line-height: 1.5;
    font-size: large; 
}
.container {
    clear: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 60px 10px 60px;
}
.container img {
    width: 260px;
    height: 260px;
}
.hobbies{
    position: relative;
    text-align: center;
}
.hobbies .centered {
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Bungee', Helvetica, Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(4, 46, 184), 0 0 0.2em blue;
}
.zoom {
    transition: 0.5s all ease-in-out;
    filter: brightness(80%);
}
.zoom:hover{
    filter: brightness(100%);
    transform: scale(1.2);
}
footer {
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 20px auto;
}
footer img {
    width: 30px;
}
footer img:hover {
    background-color: #80B4BF;
}
